input,i{
    margin-bottom: 10px;
}
textarea{
    resize: none;
}
label{
    margin-top: 10px;
}
.logoff{
    position: fixed;
    cursor: pointer;
}
.link-btn{
    color: gray;
    border-color: gray;
}

